<footer class="w-full relative px-margin-mobile md:px-margin-desktop py-32 bg-background border-t border-outline-variant flex flex-col md:flex-row justify-between items-start md:items-end gap-12 z-10 overflow-hidden">
    <!-- Texture Overlay -->
    <div class="absolute inset-0 texture-overlay opacity-10"></div>

    <!-- Massive Wordmark Background -->
    <div class="absolute left-margin-desktop bottom-12 font-anton text-9xl md:text-[18rem] text-white opacity-[0.03] leading-none select-none pointer-events-none uppercase tracking-tighter">
        ECLISSE
    </div>

    <!-- Navigation / Legal -->
    <div class="flex flex-col gap-10 relative z-10">
        <div class="flex items-center gap-4">
            <span class="font-anton text-secondary text-2xl">001</span>
            <div class="h-px w-20 bg-outline-variant"></div>
        </div>
        <div class="flex flex-wrap gap-12">
            <a class="font-label-caps text-[11px] text-stark-gray hover:text-white transition-colors tracking-brutal no-underline uppercase" href="https://instagram.com/eclissepizzacali" target="_blank">INSTAGRAM</a>
            <a class="font-label-caps text-[11px] text-stark-gray hover:text-white transition-colors tracking-brutal no-underline uppercase" href="#">PRIVACIDAD</a>
            <a class="font-label-caps text-[11px] text-secondary hover:text-white transition-colors tracking-brutal no-underline uppercase" routerLink="/login">EQUIPO</a>
        </div>
    </div>


    <!-- Atelier info -->
    <div class="flex flex-col items-end gap-4 relative z-10 text-right w-full md:w-auto">
        <div class="flex space-x-2 mb-2">
            <div class="w-2 h-2 rounded-full bg-emerald"></div>
            <div class="w-2 h-2 rounded-full bg-white"></div>
            <div class="w-2 h-2 rounded-full bg-tomato"></div>
        </div>
        <p class="font-label-caps text-[12px] text-secondary tracking-brutal uppercase">ATELIER OF DOUGH</p>
        <p class="font-hanken text-[10px] text-stark-gray opacity-40 uppercase tracking-widest">
            ©2024 ECLISSE PIZZERIA // NO NEGOCIABLE <br/>
            ARMENIA, COLOMBIA.
        </p>
    </div>

    <!-- Bottom Tricolore Line -->
    <div class="absolute bottom-0 left-0 w-full h-[6px] grid grid-cols-3">
        <div class="bg-emerald"></div>
        <div class="bg-white"></div>
        <div class="bg-tomato"></div>
    </div>
</footer>


